:root {
  --textColor: white;
  --bgColor: lightgray;
  --otherColor: black;
  --border-radius: 1rem;
}
body {
  margin: 0;
  background-color: var(--otherColor);
  font-family: "Arial";
  cursor: default;
}
h1 {
  font-size: 3vw;
}
h2 {
  font-size: 2vw;
}

p {
  font-size: 1.5vw;
  margin-inline: 10px;
}

h1,
h2,
p {
  text-align: center;
  color: var(--textColor);
}
a {
  color: var(--otherColor);
}

a:link {
  text-decoration: none;
}

a:hover {
  color: var(--textColor);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container .item {
  flex: 1;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  background-color: var(--otherColor);
  color: var(--textColor);
  border: 2px solid var(--textColor);
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.5vw;
  border-radius: var(--border-radius);
  width: 10vw;
  cursor: pointer;
}
.backgroundPic {
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/*Layout Structure*/
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media screen and (max-width: 375px) {
  h1 {
    font-size: 5vw;
  }
  h2,
  p,
  button {
    font-size: 4vw;
  }
  button {
    width: 25vw;
  }
}
