:root {
  --textColor: white;
  --bgColor: lightgray;
  --otherColor: black;
  --border-radius: 1rem;
  --h1Size: 3vw;
  --h2Size: 2vw;
  --pSize: 1.5vw;
}
body {
  margin: 0;
  background-color: var(--otherColor);
  font-family: "Arial";
  cursor: default;
}
h1 {
  font-size: var(--h1Size);
}
h2 {
  font-size: var(--h2Size);
}
p {
  font-size: var(--pSize);
}
h1,
h2,
p {
  text-align: center;
  color: var(--textColor);
}
a {
  color: var(--otherColor);
  text-decoration: none;
}
a:hover {
  color: var(--textColor);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container .item {
  flex: 1;
}
.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  background-color: var(--otherColor);
  color: var(--textColor);
  border: 2px solid var(--textColor);
  padding: 1rem;
  margin: 1rem;
  font-size: var(--pSize);
  border-radius: 2rem;
  cursor: pointer;
}
.backgroundPic {
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/*Layout Structure*/
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.mobile {
  display: none;
}
.mainPicture input {
  text-align: center;
  margin-inline: auto;
  font-size: var(--pSize);
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 5vw;
  }
  h2,
  p,
  button {
    font-size: 4vw;
  }
  button {
    width: 20vw;
    padding: 0.5rem;
  }
  .mainPicture input {
    font-size: 4vw;
  }

  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  input {
    font-size: var(--h2Size);
  }
}
